{% extends "base.html" %}
{% block title %}Gallery{% endblock %}
{% block body %}
    <div class="container">
        <h1>Gallery</h1>
        <div class="row">
            <div class="col-4">
                <a href="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                   data-toggle="lightbox" data-gallery="my-gallery">
                    <img src="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                         class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                   data-toggle="lightbox" data-gallery="my-gallery">
                    <img src="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                         class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                   data-toggle="lightbox" data-gallery="my-gallery">
                    <img src="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                         class="img-fluid">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                   data-toggle="lightbox" data-gallery="my-gallery">
                    <img src="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                         class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                   data-toggle="lightbox" data-gallery="my-gallery">
                    <img src="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                         class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                   data-toggle="lightbox" data-gallery="my-gallery">
                    <img src="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                         class="img-fluid">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                   data-toggle="lightbox" data-gallery="my-gallery">
                    <img src="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                         class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                   data-toggle="lightbox" data-gallery="my-gallery">
                    <img src="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                         class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                   data-toggle="lightbox" data-gallery="my-gallery">
                    <img src="https://i.pinimg.com/236x/b3/2a/19/b32a19a037aeb0b3923082dddb78e63d.jpg"
                         class="img-fluid">
                </a>
            </div>
        </div>
    </div>
{% endblock %}